<section id="topc">

  <div class="app_main_container">
    <h1 style="text-align: center;">Angular Basics</h1>
    <h3></h3>
    <div>
      <button class="" (click)="parentToggClick()">Hide/show inside Parent</button>

      <p *ngIf="showTogg">This is toggle Container</p>

    </div>

    <div class="lifecycle_main">
      <h4>Lifecycle Events</h4>

      <div *ngIf="show">
        <Lifecycle></Lifecycle>
      </div>
      <button type="button" class="" (click)="clickTogg()">Show/Hide</button>

    </div>

    <div class="lifecycle_summary">

      <div>
        <h4>Onchange => ngOnChange</h4>
        <p>Triggers when UI gets updated</p>
      </div>

      <div>
        <h4>OnInit => ngOnInit</h4>
        <p>Triggers at the initialization <br>
          Initial Render <br>
          Api calls
        </p>
      </div>

      <div>
        <h4>Docheck => ngDoCheck</h4>
        <p>Detect every changes</p>
      </div>
      <div>
        <h4>OnDestroy =>ngOnDestroy</h4>
        <p>Detect once when the component is destroyed</p>
      </div>

    </div>

  </div>

  <!-- child component encapsulation Reference -->

  <h4>Encapsulation</h4>
  <ul>
    <li>Emulated : Only applied for responding component - default<br>
      Does not affect other/child component</li>
    <li>None : It acess all styles from parent</li>
    <li>ShadowDom : It blocks all styles from parent and globalStyles. </li>
  </ul>

  <h4>{{message}}</h4>

  <div class="encapsulate_component">
    <h5>Parent Component</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, omnis?</p>
    <button class="">Click Me</button>
  </div>

  <div class="d-flex parent_encapsulate">
    <app-encapsualtion1 (childDataEvent)="getChildData($event)" [parentData]="wishText"></app-encapsualtion1>
    <app-encapsualtion2></app-encapsualtion2>
  </div>
  <!-- Counter  -->
  <div>
    <app-counter-component></app-counter-component>
  </div>

  <h4>Component Interaction</h4>

  <app-component-interaction #interactionChild></app-component-interaction>

  <h4>Content Projection{{interactionChild.message}}</h4>

  <app-projection>
    <p>This is a projection from App</p>
    <p selectCheck>This content loaded using a selector in ng-content</p>
  </app-projection>
  <hr>
  <h3>Dynamic Component in Angular</h3>
  <ng-template AddDynamicHost></ng-template>

  <div class="binding">
    <h3>Dynamic Images</h3>
    <button (click)="loadImage('eifle')">Eiffel Tower</button>
    <button (click)="loadImage('tree')">Tree</button>
    <img *ngIf="dynamicImageSrc" [src]="dynamicImageSrc" alt="">
  </div>
  <br>
  <hr>


  <div class="binding">
    <h3>Binding</h3>
    <hr>

    <h6>Attribute Binding</h6>

    <img [src]="bindingImgSrc" alt="">
    <p [innerText]="bindingSample"></p>

    <hr>

    <!-- style-binding  -->

    <h5>Style binding</h5>
    <div class="style_binding">
      <p class="font_color">Angular Style binding - inline class</p>

      <h6>Inline styles</h6>
      <p [style.background-color]="'blue'" [style.color]="'#fff'">Inline style property for bg-color and color</p>
      <h6>ngclass style binding</h6>
      <p [ngClass]="classObj">Angular Style binding using- [ngclass]</p>
    </div>

  </div>
  <br>
  <h4>Pipes</h4>
  <app-usingpipe></app-usingpipe>
  <br><br>

  <a href="#topc">Top</a>
</section>